<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <h2>My 1st HTML in Django+git</h2>
    <h3>Really</h3>
    <ul>
        <li><a href="{% url 's' %}">seccond</a> </li>
        <li>views.py</li>
        <li>urls.py</li>
        <li>templates</li>
        <li>setting.py</li>
    </ul>
    <div class="jumbotron">
        <h2>test</h2>
        <p> rt t ret</p>
    </div>
    <button onclick="js1()"> click</button>
    <img src="{% static 'pic.jpg' %}"
    <script type="text/javascript" src="{% static 'myjs.js' %}"></script>
</body>
</html>